.main-story-container{
    display: flex;
    flex-direction: column;
    padding-right: 30px;
    max-width: 850px;
}

.main-story-img{
    width: 100%;
    min-height: 300px;
}

.main-story-text{
    display: flex;
    margin-top: 30px;
    align-items: center;
    /* padding-right: 10px */
}

.main-story-description-button-container{
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 400px;
}

.main-story-description{
    color: #5E607A;
    line-height: 1.8;
    margin-top: 0;
    font-size: 16px;
}

.main-story-text > h1{
    font-weight: 800;
    font-size: 37px;
    margin-top: 0;
    margin-bottom: 0;
    min-width: 30%;
}

.main-story-text > h1:hover{
    cursor: pointer;
    color: #F15D51;
}

.main-story-description-button-container >button{
    background-color: #F15D51;
    width: 185px;
    height: 48px;
    color: white;
    border: none;
}

.main-story-description-button-container > button:hover{
    background-color: #00001A;
    cursor: pointer;
}