.App {
  text-align: center;

}

.app-main-page{
  /* padding: 50px 100px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.newsletter-container{
  display: flex;
  flex-direction: column;
  padding: 32px 50px;
  align-items: center;
  justify-content: center;
  background-color: #F1F2F3;
}

.card-grid{
  max-width: 1200px;
}

.card-card-container{
  width: 370px;
  height: 490px;
  margin: 5px;
  box-shadow: 0px 2px 14px rgba(42, 42, 42, 0.24)
}

.card-img{
  width: 370px;
  height: 200px;
  margin-botton: 10px;
}

.card-body-container{
  padding: 10px 20px 0px 20px;

}

.card-title{
  color: var(--Text, #2A2A2A);
  font-family: IBM Plex Serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 27px; /* 150% */
  margin: 0;
}

.card-body{
  color: var(--Text, #2A2A2A);
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 146.667% */
  height: 96px;
}

.card-details-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.card-date{
  margin-right: 10px;
  color: var(--Text, #2A2A2A);
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  /* line-height: 165%;  */
}

.card-author, .card-read-time{
  margin-right: 5px;
  color: #2A2A2A;
  opacity: 0.7;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  /* line-height: 165%; */
}

.card-icon-container{
  border-top: 1px solid #2a2a2a43;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 40px;
  gap: 10px;
}

.card-fav, .card-save{
  height: 20px;
  width: 20px;
  border: 0;
  background-color: transparent;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.card-save{
  margin-right: 10px;
}

.main-article-card-container{
  display: flex;
  flex-direction: row;
  padding: 50px;
}

.main-article-card-img{
  width: 600px;
  height: 400px;
}

.main-article-card-body-container{
  margin-left: 76px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-article-card-icon-container{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.main-article-card-details-container{
  display: flex;
}

